<div class="contact-area">
    <div class="container">
        <div class="primary-title">
            <h2>{{page.header.section.title.heading}}</h2>
            <p class="text_lg ff_fira_sans text_secondary">{{page.header.section.title.text}}
            </p>
        </div>
        <div class="address-wrapper">
            <div class="secondary-title address-blk border_radius_sm mb-0">
                <h6 class="text-uppercase">{{page.header.section.content.left.subtitle}}</h6>
                <h3>{{page.header.section.content.left.title}}</h3>

                <div class="address">
                    <h6 class="text-uppercase">{{page.header.section.content.left.addressTitle}}</h6>
                    <p>{{page.header.section.content.left.addressText | nl2br | raw }}
                    </p>
                </div>
                <div class="address mb-0">
                    <h6 class="text-uppercase">{{page.header.section.content.left.contactTitle}}</h6>
                    <p>{{page.header.section.content.left.contactNumber}} <br>
                        {{page.header.section.content.left.contactEmail}}
                    </p>
                </div>
            </div>
            <div class="map-blk box_shadow_black036_16">
                <iframe class="d-block w-100 border_radius_sm"
                    src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d233668.38703692696!2d90.27919586057241!3d23.780573258035947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3755b8b087026b81%3A0x8fa563bbdd5904c2!2sDhaka!3m2!1d23.810332!2d90.4125181!5e0!3m2!1sen!2sbd!4v1685215252248!5m2!1sen!2sbd"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>