<div class="portfolio-area">
    <div class="container">
        <div class="primary-title">
            <h2>{{page.header.section.title.heading}}</h2>
            <p>{{page.header.section.title.text}}</p>
        </div>

        <div class="product-g-wrapper">
            {% for portfolio in page.header.section.content.portfolios %}
            {% set image = page.find('/images').media[portfolio.img].url | e %}
            <div class="product-item">
                <div class="product-img">
                    <img src="{{image}}" alt="Portfolio Image" class="img-fluid">
                </div>
                <div class="product-content">
                    <a href="#" class="cmn-link type-2 type-3">{{portfolio.link.icon |
                        raw}}{{portfolio.link.linkText}}</a>
                    <h4>{{portfolio.title}}</h4>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>